<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= event.content %>
  </p>

  <p>
    <strong>Scheduled:</strong>
    <%= event.scheduled %>
  </p>

  <p>
    <strong>Resolved:</strong>
    <%= event.resolved %>
  </p>

  <p>
    <strong>Resolved time:</strong>
    <%= event.resolved_time %>
  </p>

</div>
