<p style="color: green"><%= notice %></p>

<% if user_signed_in? %>
  <%= link_to "New event", new_event_path %>
<br>
<% else %>
  <h3>Sign in to add/edit/delete an event</h3>
<% end %>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <b><%= "Status: #{event.status.name}" %></b>
    <p>
      <%= link_to "Show this event", event %>
    </p>
    <hr>
  <% end %>
</div>


