<!DOCTYPE html>
<html>
  <head>
    <title>IoMartDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <h1> Links </h1>
    <%= link_to 'status', statuses_path %>
  |
    <%= link_to 'events', events_path %>
  |
  <% if user_signed_in? %>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Admin sign In', new_user_session_path %>
  <% end %>
  <hr>
  <%= yield %>
  </body>
</html>
